/* Selectors */

body{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background-color: rosybrown;
   
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
h2 {
    background-color: white;
    color: rosybrown;
    border: 5px solid rgb(6, 7, 6);
    padding: 25px;
    margin: 25px;
    text-align: center;

}

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
}

.list{
    text-decoration: underline;
}

